* {
	font-family: montserrat;
	font-size: 13px;
	font-weight: 600;
	min-height: 0;

	border: none;
	border-radius: 45px ;
	box-shadow: none;
	text-shadow: none;
	transition: none;
}
window{
	background: rgba(176, 196, 222, 0.1);
	color: #ffffff;
}
window#waybar {
	background: rgba(176, 196, 222, 0.4);
	color: #ffffff	;
}
/* Workspaces */

#workspaces {
	padding: 0 4px;
}

#workspaces button {
	padding: 0 6px;
	margin: 2px;

	background: transparent;
	color: #c8c2b8;
}

#workspaces button:hover {
	background: #c8c2b8;
	color: #0f1714;
}

#workspaces button.active {
	background: #c8c2b8;
	color: #0f1714;
}

#workspaces button.occupied {
	color: #9fa79c;
}

#workspaces button.urgent {
	background: rgba(147, 112, 219, 0.5);
	color: #ffffff;
}

/* Tray */

#tray {
	padding: 0 6px;
}

/* Clock */

#clock {
	font-size: 13px;
	padding: 0 10px;
	color: #ffffff;
}

/* Audio */

#pulseaudio {
	font-size: 13px;
	padding: 0 6px;
	color: #c8c2b8;
}

/* Backlight */

#backlight {
	font-size: 13px;
	padding: 0 6px;
	color: #c8c2b8;
}
#battery{
	font-size: 13px;
}
